USE [master]
GO
/****** Object:  Database [SQLDependency]    Script Date: 4/9/2020 10:10:00 AM ******/
CREATE DATABASE [SQLDependency]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLDependency', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SQLDependency.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQLDependency_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SQLDependency_log.ldf' , SIZE = 401408KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQLDependency].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQLDependency]
GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 4/9/2020 10:10:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTu](
	[MaVT] [nchar](10) NOT NULL,
	[TenVT] [nvarchar](50) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[VatTu] ([MaVT], [TenVT], [SoLuong]) VALUES (N'1         ', N'1', 1)
INSERT [dbo].[VatTu] ([MaVT], [TenVT], [SoLuong]) VALUES (N'2         ', N'2', 2)
INSERT [dbo].[VatTu] ([MaVT], [TenVT], [SoLuong]) VALUES (N'test      ', N'test', 1)
/****** Object:  StoredProcedure [dbo].[SqlQueryNotificationStoredProcedure-c07bc08e-8189-45fc-bfe8-bbb102b8f310]    Script Date: 4/9/2020 10:10:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SqlQueryNotificationStoredProcedure-c07bc08e-8189-45fc-bfe8-bbb102b8f310] AS BEGIN BEGIN TRANSACTION; RECEIVE TOP(0) conversation_handle FROM [SqlQueryNotificationService-c07bc08e-8189-45fc-bfe8-bbb102b8f310]; IF (SELECT COUNT(*) FROM [SqlQueryNotificationService-c07bc08e-8189-45fc-bfe8-bbb102b8f310] WHERE message_type_name = 'http://schemas.microsoft.com/SQL/ServiceBroker/DialogTimer') > 0 BEGIN if ((SELECT COUNT(*) FROM sys.services WHERE name = 'SqlQueryNotificationService-c07bc08e-8189-45fc-bfe8-bbb102b8f310') > 0)   DROP SERVICE [SqlQueryNotificationService-c07bc08e-8189-45fc-bfe8-bbb102b8f310]; if (OBJECT_ID('SqlQueryNotificationService-c07bc08e-8189-45fc-bfe8-bbb102b8f310', 'SQ') IS NOT NULL)   DROP QUEUE [SqlQueryNotificationService-c07bc08e-8189-45fc-bfe8-bbb102b8f310]; DROP PROCEDURE [SqlQueryNotificationStoredProcedure-c07bc08e-8189-45fc-bfe8-bbb102b8f310]; END COMMIT TRANSACTION; END
GO
USE [master]
GO
